<nav>
  <ul>
    <li><a href="/">Main Page</a></li>
    <li><strong>Ultimates</strong></li>
    <ul>
      <li><a href="/ultimates/unending-coil-of-bahamut">The Unending Coil of Bahamut</a></li>
      <li><a href="/ultimates/the-weapons-refrain">The Weapon's Refrain</a></li>
      <li><a href="/ultimates/the-epic-of-alexander">The Epic of Alexander</a></li>
      <li><a href="/ultimates/dragonsongs-reprise">Dragonsong's Reprise</a></li>
      <li><a href="/ultimates/the-omega-protocol">The Omega Protocol</a></li>
      <li><a href="/ultimates/futures-rewritten">Future's Rewritten</a></li>
    </ul>
  </ul>
</nav>
